# ── Django ─────────────────────────────────────────────────────────────────────
SECRET_KEY=cambia-esto-por-una-clave-larga-y-aleatoria
DEBUG=True                         # Cambiar a False en producción
ALLOWED_HOSTS=localhost 127.0.0.1  # Agregar tu dominio en producción

# ── Base de datos ───────────────────────────────────────────────────────────────
DB_NAME=frigochascomus
DB_USER=postgres
DB_PASSWORD=tu_password
DB_HOST=localhost
DB_PORT=5432

# ── Email ───────────────────────────────────────────────────────────────────────
# Opción A: Gmail
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=chascomusfrigo@gmail.com
EMAIL_HOST_PASSWORD=oitu plgr fmsk lvec
DEFAULT_FROM_EMAIL=Frigo Chascomús <chascomusfrigo@gmail.com>

# Opción B: Resend (descomentar y comentar opción A)
# EMAIL_HOST=smtp.resend.com
# EMAIL_PORT=587
# EMAIL_HOST_USER=resend
# EMAIL_HOST_PASSWORD=re_xxxxxxxxxxxx

# ── Emails del negocio ──────────────────────────────────────────────────────────
VENTAS_EMAIL=ventas@frigochascomus.com.ar

# ── CORS ────────────────────────────────────────────────────────────────────────
CORS_ALLOWED_ORIGINS=http://localhost:8000 http://127.0.0.1:8000
CSRF_TRUSTED_ORIGINS=http://localhost:8000 http://127.0.0.1:8000
